.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  max-width: 350px;
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 350px;
  width: 100%;
  padding: 0 10px;
}

.formItem {
  max-width: 350px;
  width: 100%;
}

.input {
  width: 100%;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}